<div class="entry">
	{{#if builtin.author}}
		<h1>{{builtin.firstName}} {{builtin.lastName}}</h1>
	{{/if}}
</div>

<div class="entry">
	{{#if builtin.author2}}
		<h1>{{builtin.firstName}} {{builtin.lastName}}</h1>
	{{else}}
		<h1>Unknown Author</h1>
	{{/if}}
</div>

{{#if (isDefined builtin.value1)}}true{{else}}false{{/if}}
{{#if (isDefined builtin.value2)}}true{{else}}false{{/if}}
